body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 15px;
    line-height: 1.6;
    color: #FFFFFF;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 5%;
    
    background: url("../assets/intro.jpg") center
    no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
}

.into__inner {
    width: 100%;
    max-width: 880px;
    margin: 0  auto;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;  
}

.intro__subtitle {
    font-size: 40px;
    color: #ADD8E6;
    font-weight: 100;
    text-align: center;
}

.intro__suptitle {
    font-size: 70px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.textblock__title {
    font-size: 56px;
    color: #000000;
    font-weight: 100;
    text-align: center;
    margin-bottom: 3%;
}

.textblock__subtext {
	font-size: 20px;
	line-height: 32px;
	color: #5F7F91;
	margin-bottom: 8%;
	margin-left: 9%;
	padding: 15px 20px 15px 20px;
    height: 20%;
	width: 35%;
    display: inline-block;
    position: absolute;
}

.text__colored {
    color: #000;
}

.text__left {
    margin-left: 60%;
}

.text__down {
    margin-top: 15%;
}

.text__end {
    margin-bottom: 12%;
    position: relative;
}